@media(max-width:1024px){

    .contenedor-marketplace{
        margin-top: 200px;
        
        h2 {
            -webkit-text-stroke: 2px #6BF394; 
            color: rgba($color: #6BF394, $alpha: 0.2);
            font-size: 2rem;
            font-family: var(--fontSecundaria);
            text-align: center;
        }
        .contenedor-info-marketplace{
            
            margin-top: 80px;
            padding: 0 30px;
            .contenedor-text-marketplace{
                
                h3{
                    color: var(--ligthbrown);
                    font-size: 1.3rem;
                    font-weight: 800;
                }
                p{
                    line-height: 1.7rem;
                }
            }
            .contenedor-card-marketplace{
                padding: 10px;
                
                background-image: linear-gradient(108.9deg, #201f1f 4.9%, #3e3e3e 97%);
                
                
              
                border-radius: 20px;
                box-sizing: content-box;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                .contenedor-img-card{
                    img{
                        width: 200px;
                        margin:30px;
                    }
                }
                .contenedor-text-card{
                    margin-left: 20px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .puntuacion-jugador{
                        background: rgb(2,0,36);
                        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(171,243,107,1) 0%, rgba(180,243,107,1) 21%, rgba(202,243,107,1) 100%);
                        width: 40%;
                        padding: 5px 5px;
                        border-radius: 15px;
                        text-align: center;
                        font-weight: bolder;
                        color: var(--darkGrey);
                        font-size: 0.8rem;
                    }
                    .jugador-name{
                        font-size: 1.2rem;
                        font-weight: 800;
                        padding: 5px 0px;
                    }
                    .contenedor-buttons{
                      width: 80%;
                      display: flex;
                     
                      button{
                          background-color: transparent;
                          padding: 10px 20px;
                          font-size: 1rem;
                          border: 1px solid white; 
                          color: white;
                          font-weight: 800;
                          border-radius: 10px;
                      }
                      :nth-child(2n) {
                        margin-left: 20px;
                      }
                    }
                    p{
                        margin-top: 10px;
                    }
                    .contenedor-price-buynow{
                        width: 90%;
                        display: flex;
                        justify-content: space-between;
                      
                        .contendor-price{
                            h3{
                                font-size: 1rem ;
                                font-weight: 900;
                            }
                            h4{
                                font-size: 0.8rem;
                            }
                        }
                        .contenedor-buy{
                            button{
                                background: rgb(255,255,255);
                                background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(243,212,107,1) 0%, rgba(201,173,76,1) 100%);
                                border: none;
                                border-radius: 10px;
                                padding: 10px 25px;
                                color: white;
                                font-weight: 800;
                                font-size: .8rem;
                            }
                        }
                        .contenedor-button-config{
                            button{
                                background-color: transparent;
                                padding: 5px 10px;
                                border: 1px solid white; 
                                color: white;
                                font-weight: 800;
                                border-radius: 10px;
                                img{
                                    width: 15px;
                                }
                            }
                        }
                    }
                }
            }
        }
       
    }

}
    

@media(min-width:1000px){
   
      
        .contenedor-marketplace{
            margin-top: 200px;
            
            h2 {
                -webkit-text-stroke: 2px #6BF394; 
                color: rgba($color: #6BF394, $alpha: 0.2);
                font-size: 4rem;
                font-family: var(--fontSecundaria);
                text-align: center;
            }
            .contenedor-info-marketplace{
                display: flex;
                justify-content: space-between;
                flex-basis: 100%;
                margin-top: 80px;
                padding: 0 30px;
                .contenedor-text-marketplace{
                    width: 25%;
                    h3{
                        color: var(--ligthbrown);
                        font-size: 1.3rem;
                        font-weight: 800;
                    }
                    p{
                        line-height: 1.7rem;
                    }
                }
                .contenedor-card-marketplace{
                    padding: 25px;
                    
                    background-image: linear-gradient(108.9deg, #201f1f 4.9%, #3e3e3e 97%);
                    
                    width: 65%;
                    margin-right: 40px;
                    border-radius: 20px;
                    box-sizing: content-box;
                    display: flex;
                    justify-content: space-between;
                    .contenedor-img-card{
                        img{
                            width: 250px;
                            margin:30px;
                        }
                    }
                    .contenedor-text-card{
                        margin-left: 20px;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        .puntuacion-jugador{
                            background: rgb(2,0,36);
                            background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(171,243,107,1) 0%, rgba(180,243,107,1) 21%, rgba(202,243,107,1) 100%);
                            width: 40%;
                            padding: 5px 5px;
                            border-radius: 15px;
                            text-align: center;
                            font-weight: bolder;
                            color: var(--darkGrey);
                        }
                        .jugador-name{
                            font-size: 1.5rem;
                            font-weight: 800;
                            padding: 5px 0px;
                        }
                        .contenedor-buttons{
                          width: 80%;
                          display: flex;
                         
                          button{
                              background-color: transparent;
                              padding: 15px 30px;
                              border: 1px solid white; 
                              color: white;
                              font-weight: 800;
                              border-radius: 10px;
                          }
                          :nth-child(2n) {
                            margin-left: 20px;
                          }
                        }
                        p{
                            margin-top: 10px;
                        }
                        .contenedor-price-buynow{
                            width: 90%;
                            display: flex;
                            justify-content: space-between;
                          
                            .contendor-price{
                                h3{
                                    font-size: 1.3rem ;
                                    font-weight: 900;
                                }
                                h4{
                                    font-size: 0.8rem;
                                }
                            }
                            .contenedor-buy{
                                button{
                                    background: rgb(255,255,255);
                                    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(243,212,107,1) 0%, rgba(201,173,76,1) 100%);
                                    border: none;
                                    border-radius: 10px;
                                    padding: 15px 30px;
                                    color: white;
                                    font-weight: 800;
                                }
                            }
                            .contenedor-button-config{
                                button{
                                    background-color: transparent;
                                    padding: 10px 15px;
                                    border: 1px solid white; 
                                    color: white;
                                    font-weight: 800;
                                    border-radius: 10px;
                                }
                            }
                        }
                    }
                }
            }
           
        }
    
    
}