@font-face {
  font-family: 'TT Firs Neue';
  src: url('./assets/TTFrisNeue/TTFirsNeue-Regular.eot');
  src: local('TT Firs Neue Regular'), local('TTFirsNeue-Regular'),
      url('./assets/TTFrisNeue/TTFirsNeue-Regular.eot?#iefix') format('embedded-opentype'),
      url('./assets/TTFrisNeue/TTFirsNeue-Regular.woff2') format('woff2'),
      url('./assets/TTFrisNeue/TTFirsNeue-Regular.woff') format('woff'),
      url('./assets/TTFrisNeue/TTFirsNeue-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root{
  --background:#121214;
  --background2:#383d51;
 
  --fontcolor:·#f1f1f3;
  --fontPrincipal:'TT Firs Neue';
  // --fontPrincipal:'Open Sans', sans-serif;
  --fontSecundaria: 'Syncopate', sans-serif;
  --fontTercera:  'Montserrat', sans-serif;
  --fontCuarta: 'Lato', sans-serif;
  --ligthGreen : #6BF394;
  --darkGrey:#303538;
  --ligthbrown:#C9A555;
  font-size: 16px;
}
body{
  background-color: #000000;
  color: #f1f1f3;
  margin: 0;
  padding: 0px;
  font-family: var(--fontPrincipal);
  scroll-behavior: smooth;
  // font-family: var(--fontPrincipal);
  width: 100vw;
  letter-spacing: 0.3;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -ms-high-contrast-adjust: none;
}
.contenedor-app{
  margin-top: -15px;
  
}
.video-background{
  position: absolute;
  width: 100vw;
  
  z-index: -10000;
  opacity: 0.4;
}
.titulo-seccion {
  -webkit-text-stroke: 2px #6BF394; 
  color: rgba($color: #6BF394, $alpha: 0.2);
  font-size: 4rem;
  font-family: var(--fontSecundaria);
  text-align: center;
  text-transform: uppercase;
}
// .contenedor-marketplace{
//   background-image: url(assets/backgroundmarket2.svg);
// }
.contenedor-background-roadmap{
  background-image: url(assets/background-roadmap.svg);
  background-size: cover;
  margin-top: 80px;
}

.btn-grad {background-image: linear-gradient(90.85deg, #6BF394 5.54%, #12FF59 95.49%);}
.btn-grad {
  margin: 20px 0px;
  padding: 10px 20px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: black;            
  box-shadow: 0 0 10px #eee;
  border-radius: 10px;
  display: block;
  font-weight: bolder;
  font-size: 0.6rem;
}
.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: black;
  text-decoration: none;
}

@media(min-width:1025){
 
  .btn-grad {
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: black;            
    box-shadow: 0 0 10px #eee;
    border-radius: 10px;
    display: block;
    font-weight: bolder;
    font-size: 1.2rem;
  }
  
 
}

.btn-grad-wallet {background-image: linear-gradient(to right, #212529 0%, #212529 51%, #212529 100%);}
// .btn-grad-wallet {background-image: linear-gradient(to right, #1F1C2C 0%, #6f6c7f  51%, #1F1C2C  100%)}
.btn-grad-wallet {
   margin: 20px 0px;
   padding: 5px 10px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: black;
   font-weight: 900;            
   box-shadow: 0 0 5px #eee;
   border-radius: 10px;
   display: block;
   
 }

 .btn-grad-wallet:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }
 .contenedor-background-market{
   position: absolute;

   img{
     opacity: 0.9;

   }
  
 
}


.contenedor-wallets{
  position: relative;
  text-align: center;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  
  p{
    color: white;
    text-align: center;
    margin-left: 30px;
  }
  img{
    position: absolute;
    right: 30px;
    top: 30px;
  }

}
.titulo-modal{
  font-size: 1.5rem;
}
.parrafo-modal{
  font-size: 1rem;
}
.titulo-comming{
  font-size: 1.2rem;
  font-weight: 900;
}

.contenedor-background-marketplace{
  position: relative;
&:before{
                content: url('./assets/backmision2.png');
                position: absolute;
                top: -250px;
                left: 200px;
                width: 50px;
                height: 50px;
                transform: scale(0.5);
            }
}

