.contenedor-main{
    min-height: 400px;
    margin: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom:40px;
    margin-bottom: 30px;
    
    h1{
        -webkit-text-stroke: 2px #6BF394;
        color: rgba($color: #6BF394, $alpha: 0.5);
        // color: transparent; 
        font-size: 2rem;
        font-family: var(--fontSecundaria);
        text-align: center;
    }
    h2{

    }
    a{
        width: 35%;
        font-weight: 700;
        border-radius: 30px;
        color:var(--darkGrey);
        margin:30px 0 70px 0;
        
    }
  
}


@media(min-width:1025px){
.contenedor-main{
    min-height: 750px;
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom:40px;
    margin-bottom: 30px;
    
    h1{
        -webkit-text-stroke: 2px #6BF394;
        color: rgba($color: #6BF394, $alpha: 0.5);
        // color: transparent; 
        font-size: 4rem;
        font-family: var(--fontSecundaria);
        text-align: center;
    }
    h2{

    }
    a{
        width: 35%;
        font-size: 1rem;
        border-radius: 30px;
        color:var(--darkGrey);
        font-weight: 1000;
        margin:30px 0 70px 0;
        
    }
  
}
}
#whitepaper{
    font-weight: 700;
}